/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #00dfed;
    padding: 20px;
}

header .logo {
    width: 100px;
    height: auto;
}

h1 {
    color: #000;
    font-size: 24px;
}

.about {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 20px 0;
}

.about p {
    font-size: 16px;
    color: #333;
}

.btn {
    display: inline-flex;
    align-items: center;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #d10000;
}

.youtube-logo {
    width: 20px; /* পূর্বের সাইজ 25px ছিল, এটি ছোট করা হলো */
    height: 20px; /* একইভাবে উচ্চতাও ছোট করা হলো */
    margin-right: 10px;
}

.contact {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: #00dfed;
}

.social-links a img {
    width: 40px;
    margin: 10px;
    transition: transform 0.3s;
}

.social-links a:hover img {
    transform: scale(1.1);
}